<html>
    <head>
    <title>home page</title>
    <style>
     body{
         background-color: antiquewhite;
         color: red;
         }
    h1{
       display: inline;
       margin-right: 600px;
    }
    a{
        margin: 5px;
        border-style: solid;
        
    }
    </style>
</head>



<body>
  <div>
    <h1>THIS IS MY WEBPAGE</h1>
     <a href="/s2s/api/signup">signup</a>
     <a href="s2s/api/about">about</a>
     <a href="/s2s/api/login">login</a>
     <a href="/s2s/api/blog">blog</a>
     <a href="/s2s/api/contact">contact</a>
  </div>
</body>
</html>